<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add songs</title>
<style>
form{
      background-color: #4CAF50; 
        color: white; 
       padding: 10px 10px; 
        border: none; 
        cursor: pointer;
    }    
</style>
</head>
<body>
<div>
<form action="/addsongs" >
<input type="submit" value="ADD SONGS">
</form>
</div>
<br>
<br>
<div>
<form action="/viewsongs" >
<input type="submit" value="VIEW SONGS">
</form>
</div>
<br>
<br>
<div>
<form action="/createplaylists" >
<input type="submit" value="CREATEPLAYLISTS">
</form>
</div>
<br>
<br>
<div>
<form action="/viewplayLists" >
<input type="submit" value="VIEW PLAYLISTS">
</form>
</div>
</body>
</html>